<table class='medtable'>
<%  for (var i = 0; i < meds.length; i++)  {
         var m = meds[i];
%>
<tr class='med' <%=m %> <%= (i === 0) ? "class='selected'" : "" %>>
  <td><%= (i === 0) ? ">" : ""%></td>
  <td><%= m.properName() %></td>
  <td><%= m.dose %></td>
  <td><%= m.unit %></td>
  <td><%= m.route %></td>
  <td><%= m.frequency %></td>
  <td><%= m.notes %></td>
  <% if (SMART.capabilities["http://smartplatforms.org/capability/SPL/lookup"] == true &&
  		  SMART.capabilities["http://smartplatforms.org/capability/Pillbox/lookup"] == true) { %>
  
  <td>[<a href="#spl" class='spl'>images</a>]</td>
  <% } %>
  <td>[<a href="#" class='delete_med'>X</a>]</td>
</tr>
<%}%>
</table>
		