<table class='medtable'>
<tr>
<th></th>
<th>Medication</th>
<th>Instructions</th>
</tr>

<%  for (var i = 0; i < meds.length; i++)  {
         var m = meds[i];
%>
<tr class='med <%=((i === 0) ? "selected" : "") %>' <%=m  %>>
  <td><%= (i === 0) ? ">" : ""%></td>
  <td><%= m.properName() %></td>
  <td> <%= m.instructions %></td>
</tr>
<%}%>
</table>
		
