<%  
   var previous = "", res, current, title;
%>
<div id='selected'>
    <% for(var i =0; i < selected.length; i++){%>
		<%  current = selected[i];
 			title = (current.title ? current.title: current.name);
			res = calculateDisplay(previous, title);
			name = normalizeName(current.name) %>
	    <a href="<%=name%>.html" class='selected choice <%=current.shortName%>' style="padding-left: <%= res.length * 20%>px">
	    	<span class='remove' title="close"></span>
			<%=res.name.replace("jQuery","$")%>
			
		</a>
		<% previous = title%>
	<%}%>
  	
</div>
<div id='page_results' style="display: <%= hide? 'none' : 'block'%>">

    <% for(var i =0; i < list.length; i++){%>
		<% current = list[i];
		   if(current.hide){ continue; }
		   title = (current.title ? current.title: current.name);
           res = calculateDisplay(previous, title);
		   name = normalizeName(current.name) %>
	    <a href="<%=current.shortName == 'prototype' || current.shortName == 'static' ? 'javascript://': name%>.html" class='result choice <%=current.shortName%>' style="padding-left: <%= res.length * 20%>px">
	    	<%=res.name.replace("jQuery","$")%>
		</a>
		<% previous = title%>
	<%}%>

</div>


