<div class='top'>
    <h1><%=name.replace(/~/g,".") %>&nbsp;<span class='<%= shortName%> type'><%= shortName %></span>&nbsp;<span class="favorite favorite<%= isFavorite? 'on' : 'off'%>">&nbsp;&nbsp;&nbsp;</span></h1>
    <% if(this.inherits){ %>
    <div class='inherits'>
        inherits: <%= linkOpen(this.inherits) %>
    </div>
    <%} %>
    <% if(this.tags){ %>
    <div class='tags'>
        tags: <%= linkTags(this.tags) %>
    </div>
    <%} %>
    <% if(this.plugin){ %>
    <div class='plugin'>
        plugin: <%= this.plugin %>
    </div>
    <% } %>
	<% if(this.download){ %>
    <div class='download'>
        download: <a href='<%= this.download %>'><%=this.download.match(/[^\/]*$/)[0]%></a>
    </div>
    <% } %>
	<% if(this.test){ %>
    <div class='test'>
        test: <a href='<%= this.test %>'><%=this.test.match(/[^\/]*$/)[0]%></a>
    </div>
    <% } %>
</div>
